@import "tailwindcss";

@font-face {
  font-family: "Anton";
  font-weight: 400;
  src: url('/assets/font/Anton-regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  font-weight: 400;
  src: url('/assets/font/Antonio-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

:root {
  --primary: #00030E;
  --secondary: #EAECF7;
  --text: #868B95;
  --acent: #AF5685;
  --second-bg-color: #091336;

  --gradient-button: linear-gradient(90deg, #3771CC 0%, #A152B6 100%);
  --gradient-acent: linear-gradient(90deg, #AF5685 0%, #7E3769 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6, button, li{
  color: var(--secondary);
}

p {
  color: var(--text);
}

a {
  color: var(--acent);
  text-decoration: none;
}

nav a {
  color: var(--secondary);
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  font-family: 'Antonio', sans-serif;
}

nav a.active {
  color: var(--acent);
}

a.btn {
  color: var(--secondary);
  background: var(--gradient-button);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'anton', sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 80px;
}

header p {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Antonio', sans-serif;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

p {
  font-size: 18px;
  line-height: 26px;
}

header p {
  background: var(--gradient-acent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

span {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Anton', sans-serif;
  color: var(--secondary);
}

header {
  background-image: url('/assets/img/header-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background: var(--primary);
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.fact-icon-card {
  width: 100px;
  height: 100px;
  border: 4px solid var(--acent);
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}