@import "tailwindcss";

@font-face {
  font-family: "anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #00030E;
  --secondary: #EAECF7;
  --text: #868B95;
  --acent: #AF5685;

  --gradient-button: linear-gradient(90deg, #3771CC 0%, #A152B6 100%);
  --gradient-acent: linear-gradient(90deg, #AF5685 0%, #7E3769 100%);
}

body {
  background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6, button, li{
  color: var(--secondary);
}

p {
  color: var(--text);
}

a {
  color: var(--acent);
  text-decoration: none;
}

nav a {
  color: var(--secondary);
}

nav a.active {
  color: var(--acent);
}

a.btn {
  color: var(--secondary);
  background: var(--gradient-button);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'anton', sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 80px;
}

.block {
  display: block;
}

.hidden {
  display: none;
}